@model VirouManchete.Entidade.Noticia
@using VirouManchete.Portal.Helpers
@{ Layout = null; }
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@System.Configuration.ConfigurationManager.AppSettings["Site.Name"] - O Dia - @Model.Titulo</title>
    <meta property="og:site_name" content="Virou Manchete" />
    <meta property="og:title" content="Virou Manchete - O Dia -  @Model.Titulo" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Model.Titulo - @Model.SubTitulo" />
    <meta property="og:url" content="http://viroumanchete.com.br/noticia/ler/@Model.Id" />
    <meta property="og:image" content="@(Model.Imagem != null ? "http://viroumanchete.com.br/content/img/noticias/" + @Model.Imagem : "http://viroumanchete.com.br/content/img/logo-face.png?t=123456?")" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="description" content="@Model.Titulo - @Model.SubTitulo">
    <meta name="keywords" content="Texto, fofoca, brincadeira, sites, simulador, ficticio, ficticia, ficticias, notícias, manchete, post, blog, protesto, brincadeiza, troll, trolar, ironia"/>    
    <style type="text/css">
        * { margin:0px; padding:0px; font:15px Arial; }
        #container   { background:url("/content/img/template/dia.jpg") no-repeat; margin:auto; width:1038px; min-height:908px; position:relative; }
        #conteudo    { position:absolute; top:376px; left:38px; width:620px; padding-bottom:60px; overflow:hidden;  }
        #titulo2     { overflow:hidden; font-size:11px; font-weight:bold; color:#DF0000; position:absolute; top:261px; left:148px; width:580px; height:20px; }
        #data        { overflow:hidden; font-size:11px; color:#929292; margin-bottom:20px;  }
        #titulo      { overflow:hidden; font-size:35px; font-weight:bold; color:#333333; margin-bottom:15px; }
        #subtitulo   { overflow:hidden; font-size:20px; color:#929292; margin-bottom:20px;}
        #reporter    { font-size:11px; font-weight:bold; color:#DF0000; margin-bottom:20px; }
        #noticia     { overflow:hidden; font-size:13px; color:#333333; line-height:23px;  }
        #imagem      { text-align:center; padding-bottom:10px; margin-bottom:20px; margin-top:20px; font-size:11px; }
        #imagem img  { margin:auto; overflow:hidden; margin-bottom:10px; display:block; }
        #legenda     { overflow:hidden; font-size:13px; color:#333333; }
        ul#recentes { position:absolute; top:655px; left:684px; width:290px; list-style:none; }
        ul#recentes li { border-bottom:1px solid #949494; padding-bottom:20px; margin-top:20px; }
        ul#recentes li span { font-weight:bold; font-size:11px; color:#DF0000;  }
        ul#recentes li a    { display:block; font-weight:bold;  color:#333333; margin-top:10px; font-size:11px; }
        #publicidade    { position:absolute; top:300px; left:700px; width:250px; height:250px; }
    </style>
</head>
<body>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>  
    <div id="container">        
        <div id="titulo2">@Model.Titulo</div>        
        <div id="conteudo">
            <div id="data">@Model.Data.ToString("dd/MM/yyyy HH:hmm:ss")</div>              
            <div id="titulo">@Model.Titulo</div>
            <div id="subtitulo">@Model.SubTitulo</div>        
            <div id="reporter">O DIA @Model.Reporter</div>
            <div id="noticia">@Html.Nl2br(Model.Texto)</div>
            @if(@Model.Imagem != null)
            {
                <div id="imagem">
                    <img src="/content/img/noticias/@Model.Imagem" />
                    @Model.Legenda
                </div>
            }
            <br /><br />
            <div class="fb-like" data-href="http://viroumanchete.com.br/noticia/ler/@Model.Id" data-send="true" data-width="550" data-show-faces="true"></div>
            <br /><br />
            <div class="fb-comments" data-href="http://viroumanchete.com.br/noticia/ler/@Model.Id" data-width="550" data-num-posts="20"></div>            
        </div>        
        @Html.Action("CarregarAviso", "Home")
        @if (ViewBag.Recentes != null)
        {
            <ul id="recentes">
                @foreach (var noticia in (IList<VirouManchete.Entidade.Noticia>)ViewBag.Recentes)
                {
                    <li>
                        <span>@noticia.Data.ToString("dd/MM/yyyy HH:hmm:ss")</span>
                        <a href="/noticia/ler/@noticia.Id" title="@noticia.Titulo">@noticia.Titulo</a>
                    </li>
                }
            </ul>
        }
        <div id="publicidade">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-8117876802922910";
            /* VM-250-250 */
            google_ad_slot = "6681329027";
            google_ad_width = 250;
            google_ad_height = 250;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41785829-1', 'viroumanchete.com.br');
        ga('send', 'pageview');
    </script>
</body>
</html>
